<tr>
	<td><%= f.grouped_collection_select :product_id, ProductCategory.for_select, :current_products, :name, :id, :name, class: "form-control" -%></td>
	<td><%= f.select :quantity, (1..5).to_a+ (8..24).step(4).to_a + (32..96).step(8).to_a, class: "form-control" -%></td>
	<td>
		<%= link_to "remove_product(this)", class: "btn btn-danger" do -%>
			<i class="fa fa-trash-o"></i> Remove
		<% end -%>
	</td>
</tr>

