<% content_for :left_column do%>
	<ul class="nav_items">
		<li>Merchandising</li>
		<li>Distribution</li>
		<li>Some Other section</li>
		<li>Additional Comments</li>
	</ul>
	
	<div class="buttons">
		<button>Save Progress</button><br/>
		<button>Finalize Audit</button><br/>
		<button>Discard Audit</button>
	</div>

<% end %>
New Audit