<thead>
	<tr>
		<th scope="col" style="width: 10%">Date</th>
		<th scope="col" style="width: 30%">Store</th>
		<th scope="col">Route</th>
		<th scope="col" class="text-center">Deliver By</th>
	</tr>
</thead>
<tbody>
<%- if orders.size > 0 -%>
	<%- orders.each do |order| -%>
	<tr>
		<td><%= order[:created_at].to_date.strftime( Date.today.year == order[:created_at].to_date.year ? "%m/%d": "%m/%d/%Y" )-%></td>
		<td><%= (order[:store] || order.store).full_name -%></td>
		<td><%= order.route[:name]-%></td>
		<td class="text-center"><%= order.delivery_day_of_the_week -%></td>
	</tr>
	<% end -%>
<%- else -%>
	<tr>
		<td colspan="4" class="text-center">
			<p><em>No orders to show here.</em></p>
		</td>
	</tr>
<% end -%>
</tbody>