<% content_for :body do -%>
<%= form_for @order, :url => orders_path do |f| -%>
<div class="form-buttons">	
	<%= f.submit "Save", :class=>"btn btn-success" -%>
	<button type="button" class="btn btn-default" value="Cancel" onclick="window.location = '<%= orders_path -%>'">Cancel</button>
</div>
<%= render :partial => 'entry', :locals => {:f => f} -%>
<div class="spacer"></div>
<%- end -%>
	
<% end -%>

