<tr>
    <td><%= f.grouped_collection_select :product_id, ProductCategory.for_select, :current_products, :name, :id, :name, {}, {class: "form-control"} -%></td>
    <td><%= f.select :quantity, (1..5).to_a+ (8..24).step(4).to_a + (32..96).step(8).to_a, {}, {class: "form-control"} -%></td>
    <td>
        <button class="btn btn-standard btn-danger" type="button" onclick="remove_product(this)">
            <i class="visible-sm visible-xs fa fa-remove"></i> <span class="hidden-sm hidden-xs">Remove</span>
        </button>
    </td>
</tr>

