<div class="col-md-3 col-sm-12 col-xs-12">
	Aggregration options go here
</div>
<div class="col-md-9 col-sm-12 col-xs-12">
	
</div>

<%- content_for :page_js do -%>

	<%= javascript_include_tag "angular.min.js" -%>

<%- end -%>