<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<style type="text/css">
.ice_cream_header {
	color: #FFF;
}
table td { font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif}
</style>
</head>

<body>
<table border="0" width="100%">
<tr>
<td align="center">
<table width="70%" border="1" cellspacing="0" cellpadding="3">
  <tr>
    <td colspan="2"><h1 style="text-transform:uppercase">Graeters Picking Slip</h1></td>
    <td valign="bottom"><strong>Route</strong>: 1</td>
    <td valign="bottom"><strong>Delivery Date:</strong> September 21, 2012</td>
  </tr>
  <tr>
    <td><strong>Store</strong># 123</td>
    <td colspan="3"><strong>Store Name</strong>: Some Store</td>
  </tr>
  <tr class="ice_cream_header">
    <td colspan="2" bgcolor="#006699"><strong>Ice Cream</strong></td>
    <td bgcolor="#006699"><strong>Code</strong></td>
    <td bgcolor="#006699"><strong> Pints</strong></td>
  </tr>
  <tr>
    <td colspan="2">Vanilla</td>
    <td>VANP</td>
    <td>100</td>
  </tr>
  <tr>
    <td align="right"><strong>Total</strong>: </td>
    <td colspan="3">100 Pints</td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
    </tr>
  <tr class="ice_cream_header">
    <td bgcolor="#006699"><strong>Limited Edition Flavors</strong></td>
    <td bgcolor="#006699"><strong>Availability</strong></td>
    <td bgcolor="#006699"><strong>Code</strong></td>
    <td bgcolor="#006699"><strong>Pints</strong></td>
  </tr>
  <tr>
    <td>Cherry Chocolate Chip</td>
    <td>12/21 - 3/10</td>
    <td>LE1P</td>
    <td>203</td>
  </tr>
  <tr>
    <td align="right"><strong>Total</strong>: </td>
    <td colspan="3">203 Pints</td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
    </tr>
  <tr class="ice_cream_header">
    <td colspan="2" bgcolor="#006699"><strong>56oz</strong></td>
    <td bgcolor="#006699"><strong>Code</strong></td>
    <td bgcolor="#006699"><strong>Units</strong></td>
  </tr>
  <tr>
    <td colspan="2">Mint Chip</td>
    <td>MINS</td>
    <td>300</td>
  </tr>
  <tr>
    <td align="right"><strong>Total</strong>: </td>
    <td colspan="3">300 Units</td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
    </tr>
  <tr>
    <td><strong>Total</strong>: 603</td>
    <td><strong>Invoice Number:</strong> 12345</td>
    <td colspan="2"><strong>Invoice Amount</strong>: $10,000.00</td>
  </tr>
</table>
</td>
</tr>
</table>
</body>
</html>
