@import url(http://fonts.googleapis.com/css?family=Asap:400,700);

$errors_msg_shading: #FF8600;
$wrapper-width: 1024px;
$left-column-width: 250px;

@mixin overall-font{
	font: {
		size: 12pt;
	}
}

@mixin flash-messages {
	background: {
		color: #f3f4f5;
		position: 8px 8px;
		repeat: no-repeat;
	}
	border: 2px solid #fcc;
	font: {
		size: 8pt/2;
	}
	min-height: 24px;
	margin: 0.1em auto;
	padding: 0.4em {
		left: 50px;
	}
}

@mixin column-padding {
	padding: 0.4em {
		top: 0;
	}
}

.navbar {
	background: {
		//color: #45221a;
		repeat: no-repeat;
	}
	//color: #ffffff;
}

body {
	@include overall-font;
	
	padding-top: 2em;
	
	select {
		@include overall-font;
	}
	
	footer{
		border: {
			top: 2px solid #eee;
		}
		color: #666;
		font: {
			family: Verdana, Tahoma, Arial, Sans-serif;
			size: 0.8em;
		}
		text: {
			align: center;
		}
		
		p{
			margin: auto 0.1em;
		}
	}
}

html {
	@extend body;
}

div {
	position: relative;
	
	&.spacer {
		clear: both;
		width: auto;
	}
}


p {
	&.error {
		@include flash-messages;
		border-color: #D0A9AA;
	}
	
	&.notice {
		@include flash-messages;
		border-color: #9c9;
	}
	
	&.warning {
		@extend .error;
	}
	
	&.information {
		@extend .notice;
	}
}


ul {
	&.nav_items {
		list-style: none;
		padding-left: 0.3em;
		text-align: left;
		
		li {
			background-repeat: no-repeat;
			color: #900;
			cursor: pointer;
			display: block;
			line-height: 2;
			margin-bottom: 1px;
			padding-left: 26px;
			min-height: 20px;
			
			&.current	{
				background-position: 5px center;
				color: #000;
				cursor: default;
			}
		}
	}
}

dd {
	margin: {
		bottom: 2em;
	}
}

.information {
	background: {
		color: #d5d5e5;
		position: 10px 10px;
		repeat: no-repeat;
	}
	border: 2px solid #ccc;
	font-size: 9pt/2;
	padding: 0.7em {
		left: 55px;
	}
		
	a {			
		&:link {
			background-color: #6898ce;
			border: 2px solid #fff;
			color: #fff;
			display: inline-block;
			font-weight: bold;
			line-height: 1;
			padding: 0.4em;
			text-decoration: none;
		}
		&:visited {
			color: #fff
		}
		
		&:hover {
			text-decoration: none;
		}
	}
	p {
		margin: {
			top: 0;
			bottom: 0.4em;
		}
	}
}

.error_field {
	@extend input:text !optional;
	@extend select;
}

.text-danger{
	@extend .error_field;
}

.btn{
	min-width: 7em;
}
