/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

div.spacer{ clear:both; with:auto;}
div {position:relative;}
body, html{
	background-color: #eee;
	font-size: 11pt;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	width: auto;
}

body, html, input,select {
	font-family: "Nobile",Sans-serif;
}

div#wrapper{
	background-color: #fff;
	border: 2px solid #ddd;
	border-top:none;
	display: block;
	margin: 0 auto;
	padding: 0 1px;
	text-align: left;
	width: 1024px;
}

div.page_blocks{
	background-color: #transparent;
	display: block;
	margin: 0 0 1em 0;
	padding: 0.5em;
	width: auto;
}

div#page_header{
	background-color: #933;
	color: #fff;
}

div#page_header h1 { 
	font-family: 'Nobile', sans-serif;
	line-height: 1.5
}

div#page_body a, div#page_body a:visited{
	color: #900;
	text-decoration:none;
}

div#page_body a:hover{
	text-decoration:underline;
}

p.warning, p.notice{
	background-position: 8px 8px;
	background-repeat: no-repeat;
	min-height: 35px;
	margin: 0.4em auto;
	padding-top: 15px;
	padding-left: 50px;
}

p.notice, p.warning{
	background-color:#eee;
	border:3px solid #fff;
}

p.notice{border-color:#9c9;}

p.warning{border: 3px solid #fcc;}


a.icon_buttons{
	background-position: 5px center;
	background-repeat:no-repeat;
	border:2px solid #ccc;
	display:inline-block;
	padding:0.3em;
	padding-left:40px;
	outline:none;		
	min-width: 3em;
}
a.icon_buttons + a.icon_buttons {margin-left: 1em;}

div.toolbar{
	background-color:#B0C4DE;
	color:#fff;
	margin: 0;
	margin-bottom:2px;
	padding: 0.5em;
	text-align:left;
	width: auto;
}

div.toolbar .icon_buttons{
	background-color: #005B9A;
	border:1px solid #ddd;
	color:#fff;
	display:inline-block;
	font: normal normal bold 10pt/2 Verdana,Tahoma,Arial,Sans-serif;
	margin-right:1em;
	margin-left: 0;
	padding:0.4em;
	text-align:center;
	min-width:6em;
}

ul.nav_items { list-style: none; padding-left:0.3em; text-align:left;}
ul.nav_items li {
	background-position:5px center;
	background-repeat: no-repeat;
	color:#900;
	cursor:pointer;
	line-height: 2;
	margin-bottom:1px;
	padding-left:26px;
	min-height:20px;
}



