@import "bourbon";

fieldset {
	&.form_sections {
		border: 2px solid #ccc;
	}
	
	&.information_blocks {
		legend {
			font: {
				size: 12pt;
				weight: bold;
			}
			margin: {
				bottom: 0.5em;
				top: 0;
			}
			text-align: left;
		}
	}
}

div {
	&.entry_row {
		background-color: #ccc;
		display: block;
		margin: 0 0 2px 0;
		padding: 0;
		width: auto;
		
		div {
			padding: 0.5em;
		}
	}
			

	&.entry_label {
		background-color: transparent;
		color: #6D6E70;
		float: left;
		font-weight: bold;
		text-align: left;
		width: 19%;
	}
	
	&.entry_value {
		background-color: #eee;
		margin: {
			left: 20%;
			right: 0;
		}
		text-align: left;
		width: auto;
	}

	&.buttons {
		background-color: transparent;
		display: block;
		margin: 0.1em 0;
		padding: 0.5em 0;
	}
}

input {
	&.button, &[type=submit], &[type=button] {
		@include button(simple, #AA5303);
		font-size: 0.9em;
		text-transform: uppercase;
	}
}