fieldset
	&.form_sections
		border: 2px solid #ccc

div
	&.entry_row
		background:
			color: Red
		display: block
		margin: 0 0 2px 0
		padding: 0
		width: auto
		
		div
			padding: 0.5em
			

	&.entry_label
		background:
			color: transparent
		color: #000
		float: left
		font:
			weight: bold
		line:
			height: 1.55
		text:
			align: left
		width: 19%
	
	&.entry_value
		background:
			color: #eee
		margin:
			left: 20%
			right: 5em
		text:
			align: left
		width: auto

	&.buttons
		background:
			color: transparent
		display: block
		margin: 1em 0
		padding: 0.5em 0
		