<%= form_for product do |f| -%>
	<div class="form-buttons well well-sm">
		<button class="btn btn-success">Save</button>
		<button type="button" class="btn btn-default" onclick="history.go(-1)">
			<i class="fa fa-mail-reply visible-sm visible-xs"></i><span class="visible-md visible-lg">Cancel</span>
		</button>
	</div>
<%= render :partial => 'entry', :locals => {:f => f} -%>
<%- end -%>

<% content_for :page_js do -%>
	<%= javascript_include_tag :jquery_ujs -%>
<% end -%>