<div class="row">
	<div class="col-md-2 col-sm-12 col-xs-12">
		<label for="">Select a category</label>
	</div>
	<div class="col-md-5 col-sm-12 col-xs-12">
		<form onsubmit="false">
			<%= select_tag :product_category, options_from_collection_for_select(@product_categories, :id, :name),  class: "form-control input-sm", onchange: "getProducts()" -%>

			<span id="loading_results">
				<i class="fa fa-circle-o-notch fa-spin"></i> Loading products.. 
			</span>
		</form>
	</div>
</div>
<div class="row" id="products">
	<%= render partial: "products_by_category", locals: {product_list: nil} -%>
</div>

<%- content_for :page_js do -%>
	<script type="text/javascript">
		var loading_object = null;
		var products_container = null;
		var product_category_select = null;
		$(document).ready(function(){
			loading_object = $("span#loading_results");
			products_container = $("div#products table tbody._product_list");
			product_categories_select = $("select#product_category");

			loading_object.hide();
			getProducts();

		});


		function getProducts(){
			products_container.hide();
			loading_object.show();
			products_container.load(
				"<%= product_categories_path -%>/" + product_categories_select.val() + "/products",
				function(){
					loading_object.hide();
					products_container.show();
				}
			);
		}
	</script>
<% end -%>