<%= form_for @product do |f| -%>
	<div class="form-buttons">
		<button class="btn btn-success">Save</button>
		<button type="button" class="btn btn-default">Cancel</button>
	</div>
<%= render :partial => 'entry', :locals => {:f => f} -%>
<%- end -%>