<% content_for :body do %>
	<div id="right_column">
		<%= yield %>
	</div>
	<div id="left_column">
		<%= yield :left_column %>
	</div>
	<div class="spacer"></div>
<% end %>

<%= render :template => "layouts/application" %>
